[Unit]
After=network-online.target
Description=wireguard-stun
Documentation=https://github.com/JulienBalestra/wireguard-stun

[Service]
Environment=AWS_ACCESS_KEY_ID=
Environment=AWS_SECRET_ACCESS_KEY=
Environment=AWS_ROUTE53_ZONE_ID=
EnvironmentFile=/etc/wireguard-stun/environment

ExecStart=/usr/local/bin/wireguard-stun registry --zone-id $AWS_ROUTE53_ZONE_ID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
