[Unit]
After=network-online.target
Description=wireguard-stun
Documentation=https://github.com/JulienBalestra/wireguard-stun

[Service]
Environment=ETCD_ENDPOINTS=
EnvironmentFile=/etc/wireguard-stun/environment

ExecStart=/usr/local/bin/wireguard-stun peer etcd --etcd-endpoints $ETCD_ENDPOINTS
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
